.filters a.active {
  text-decoration: underline;
  text-decoration-color: red;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: auto;
  width: 72.3%;
  padding: 10px 15px;
  background-color: white;
}

.filters a {
  background-color: transparent;
  text-decoration: none;
  color: black;
  border: none;
  cursor: pointer;
  margin-right: 30px;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}


.filters a:hover {
  text-decoration: underline;
  text-decoration-color: red;
}
