@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.card {
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 2px 14px rgba(42, 42, 42, 0.24);
  color: black;
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: center;
  margin: 1vw;
  padding: 1vw;
  width: 22.8vw;
}

.cardFirstNews {
  align-items: center;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30vh;
  width: 30vw;
}

hr {
  margin-top: 5px;
  opacity: 0.25;
  width: 108.5%;
  z-index: 0;
}
.card h3 {
  height: 10vh;
  margin-bottom: 1vw;
}

.cardFirstNews h3 {
  height: fit-content;
  margin-bottom: 1vw;
}

.card p {
  font-size: 1vw;
}

.cardFirstNews p {
  margin: 1vw 0 0.5vw;
  height: 15vh;
  font-size: 1vw;
  font-family: "Poppins", sans-serif;
}

.card a,
.cardFirstNews a {
  align-items: center;
  background: #05d465;
  border-radius: 0.4vw;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: rgb(0, 0, 0, 0.7);
  cursor: pointer;
  display: flex;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  justify-content: center;
  height: 1vw;
  padding: 1vw;
  text-decoration: none;
  width: 12vw;
  transition: 0.3s all ease;
}

.card a:hover, .cardFirstNews a:hover {
  background-color: #007c3a;
  color: white;
  transition: 0.3s all ease;
}

.card span {
  align-self: flex-start;
}

.cardTop {
  align-items: center;
  color: #c31815;
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
  width: 100%;
}

.cardTop button {
  background: none;
  border: none;
}

.cardTop img {
  width: 2vw;
}

.cardBottom {
  align-items: center;
  color: rgb(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-between;
  margin-top: 1vw;
  width: 100%;
}

.bottomBtn {
  align-self: flex-end;
  background-color: transparent;
  border: none;
  margin-top: 5px;
}

@media screen and (max-width: 768px) and (max-height: 1024px) {
  .cardFirstNews {
    height: fit-content;
    width: 90vw;
  }

  .cardFirstNews p {
    font-family: "Poppins", sans-serif;
    font-size: 4vw;
    height: fit-content;
    margin: 1vw 0 9vw;
    text-align: justify;
  }

  .cardFirstNews h3 {
    font-size: 7vw;
    margin-bottom: 2vh;
    text-align: justify;
  }

  .cardTop {
    margin: 2vh 0 1vw;
  }

  .cardTop span {
    font-size: 1.5vh;
  }

  .cardTop img {
    width: 5vw;
  }

  .cardBottom {
    font-size: 4vw;
    height: 5vh;
  }

  .cardBottom a {
    border-radius: 1vw;
    padding: 5vw;
    text-align: center;
    width: fit-content;
  }

  .card {
    align-self: center;
    justify-content: space-between;
    height: fit-content;
    margin: 3vh 0;
    padding: 0 3vw;
    width: 95vw;
  }

  .card h3 {
    font-size: 6vw;
    height: fit-content;
  }

  .card p {
    font-size: 4.5vw;
    margin-bottom: 5vw;
    text-align: justify;
  }

  .bottomBtn {
    padding: 3vw 0;
  }

  .bottomBtn img {
    width: 7vw;
  }

  hr {
    margin-top: 3vw;
  }
}
